<script src="app.component.ts"></script>
<div style="text-align: center">
  <style>
    h2 { color: #ffba00; }
  </style>
<h2>
  #1 = {{date1}} => {{date1 | date1}}
</h2>
<h2>
  #2 = {{date2}} => {{date2 | date2}}
</h2>
<h2>
  #3 : {{date3}} => {{date3 | date3}}
</h2>
<h2>
  #4 : {{date4}} => {{date4 | date4}}
</h2>
<h2>
  #5 : {{date5}} => {{date5 | date5}}
</h2>
<h2>
  #6 : {{date6}} => {{date6 | date6}}
</h2>
<h2>
  #7 :{{date7}} => {{date7 | date7}}
</h2>
<h2>
  #8 : {{num1}} => {{num1 | pipeElevado}}
</h2>
<h2>
  #9 : {{var1}} =>  {{var1 | myPipe}}
</h2>
<h2>
  #10 : {{var2}} =>  {{var2 | myPipe}}
</h2>
<h2>
  #11 : {{var3}} =>  {{var3 | myPipe}}
</h2>
</div>
