<script src="app.component.ts"></script>
<div style="text-align: center">
  <style>
    h2 { color: #ffba00; }
  </style>
<h2>
  Punto uno = {{date1}} => {{date1 | date1}}
</h2>
<h2>
  Punto dos = {{date2}} => {{date2 | date2}}
</h2>
<h2>
  Punto tres = {{date3}} => {{date3 | date3}}
</h2>
<h2>
  Punto cuatro = {{date4}} => {{date4 | date4}}
</h2>
<h2>
  Punto cinco = {{date5}} => {{date5 | date5}}
</h2>
<h2>
    Punto seis = {{date6}} => {{date6 | date6}}
</h2>
<h2>
    Punto siete = {{date7}} => {{date7 | date7}}
</h2>
<h2>
    Punto ocho =  {{num1}} => {{num1 | pipeElevado}}
</h2>
<h2>
    Punto nueve = {{var1}} =>  {{var1 | myPipe}}
</h2>
<h2>
    Punto diez = {{var2}} =>  {{var2 | myPipe}}
</h2>
<h2>
    Punto once = {{var3}} =>  {{var3 | myPipe}}
</h2>
</div>
